/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
    --bg-pic: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --title-color: #DB00FF;
    --subtitle-color: #000028;
    --article-title-color: #ff0070;
    --article-color: #F1B2CE;
    --hover-button: rgba(255, 0, 112, 0.40);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --bg-pic: url(../images/cover-image-dark.png);
    --accent-color: #ff0070;
    --title-color: #DB00FF;
    --subtitle-color: #000028;
    --article-title-color: #ff0070;
    --article-color: #F1B2CE;
    --hover-button: rgba(255, 0, 112, 0.40);
  }
}
