/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --bg-pic: url(../images/cover-image-light.png);
  --accent-color: #FF8DCB;
  --rec-color: #FFF1F7;
  --angle-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --article-title-color: #353430;
  --article-color: #353430;
  --hover-button: rgba(50, 49, 45, 0.40);
} 

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --bg-pic: url(../images/cover-image-light.png);
    --accent-color: #FF8DCB;
    --rec-color: #FFF1F7;
    --angle-color: #353430;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --article-title-color: #353430;
    --article-color: #353430;
    --hover-button: rgba(50, 49, 45, 0.40);
  } 
    
}

